.container{
    background-color:lavender;
}
header{
    color:blue;
    background-color:rgb(164, 160, 221);
}
body{
    background-color: palevioletred;
}
.register{
    background-color: rgb(43, 175, 192);
}
